-- AlterTable
ALTER TABLE "Stone" DROP COLUMN "color",
DROP COLUMN "name",
DROP COLUMN "type",
ADD COLUMN     "ratePerGram" DECIMAL(12,2) NOT NULL,
ADD COLUMN     "stoneName" TEXT NOT NULL,
ADD COLUMN     "unit" TEXT NOT NULL;

-- CreateIndex
CREATE UNIQUE INDEX "Stone_tenantId_stoneName_key" ON "Stone"("tenantId", "stoneName");

