-- DropIndex
DROP INDEX "Product_sku_key";

-- DropIndex
DROP INDEX "Product_slug_key";

-- AlterTable
ALTER TABLE "Product" DROP COLUMN "active",
DROP COLUMN "bestseller",
DROP COLUMN "certification",
DROP COLUMN "featured",
DROP COLUMN "gender",
DROP COLUMN "makingCharges",
DROP COLUMN "newArrival",
DROP COLUMN "occasion",
DROP COLUMN "purity",
DROP COLUMN "shortDescription",
DROP COLUMN "stock",
DROP COLUMN "weight",
ADD COLUMN     "amountWithoutGst" DECIMAL(12,2),
ADD COLUMN     "amountWithoutStones" DECIMAL(12,2),
ADD COLUMN     "basePrice" DECIMAL(12,2),
ADD COLUMN     "grossWeight" DECIMAL(12,3),
ADD COLUMN     "gstAmount" DECIMAL(12,2),
ADD COLUMN     "gstPercentage" DECIMAL(5,2),
ADD COLUMN     "hoverImageUrl" TEXT,
ADD COLUMN     "imageUrl" TEXT,
ADD COLUMN     "isActive" BOOLEAN NOT NULL DEFAULT true,
ADD COLUMN     "isBestSeller" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "isEngravable" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "isNew" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "longDescription" TEXT,
ADD COLUMN     "makingCharge" DECIMAL(12,2),
ADD COLUMN     "metalType" TEXT,
ADD COLUMN     "netWeight" DECIMAL(12,3),
ADD COLUMN     "originalPrice" DECIMAL(12,2),
ADD COLUMN     "rating" DECIMAL(3,2),
ADD COLUMN     "stockQuantity" INTEGER NOT NULL DEFAULT 0,
ADD COLUMN     "stoneAmount" DECIMAL(12,2),
ADD COLUMN     "totalAmount" DECIMAL(12,2),
ALTER COLUMN "wastage" SET DATA TYPE DECIMAL(12,3);

-- CreateIndex
CREATE UNIQUE INDEX "Product_tenantId_slug_key" ON "Product"("tenantId", "slug");

-- CreateIndex
CREATE UNIQUE INDEX "Product_tenantId_sku_key" ON "Product"("tenantId", "sku");

