-- DropIndex
DROP INDEX "ProductVariant_sku_key";

-- AlterTable
ALTER TABLE "ProductOption" ALTER COLUMN "optionType" DROP DEFAULT;

-- AlterTable
ALTER TABLE "ProductVariant" DROP COLUMN "color",
DROP COLUMN "price",
DROP COLUMN "size",
DROP COLUMN "stock",
DROP COLUMN "weight",
ADD COLUMN     "barcode" TEXT,
ADD COLUMN     "carat" DECIMAL(12,3),
ADD COLUMN     "diamondType" TEXT,
ADD COLUMN     "isActive" BOOLEAN NOT NULL DEFAULT true,
ADD COLUMN     "metal" TEXT,
ADD COLUMN     "priceAdjustment" DECIMAL(12,2),
ADD COLUMN     "ringSize" TEXT,
ADD COLUMN     "stockQuantity" INTEGER NOT NULL DEFAULT 0;

-- CreateIndex
CREATE UNIQUE INDEX "ProductVariant_tenantId_sku_key" ON "ProductVariant"("tenantId", "sku");

