-- AlterTable
ALTER TABLE "ProductOption" DROP COLUMN "name",
DROP COLUMN "value",
ADD COLUMN     "displayOrder" INTEGER NOT NULL DEFAULT 0,
ADD COLUMN     "isAvailable" BOOLEAN NOT NULL DEFAULT true,
ADD COLUMN     "optionName" TEXT NOT NULL,
ADD COLUMN     "optionType" TEXT NOT NULL,
ADD COLUMN     "optionValue" TEXT NOT NULL,
ADD COLUMN     "priceModifier" DECIMAL(12,2);

